<nav class="navbar navbar-expand-lg navbar-light border-bottom mb-2 myNavbar bg-info py-md-0 py-lg-0"  id="mainNav">
            <div class="container px-2 px-lg-5">
                <a class="navbar-brand" href="/"><img class="myLogo" width="60px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/OLX_green_logo.svg/1200px-OLX_green_logo.svg.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        {{#if isHome}}
                        <li class="nav-item"><a class="myActive nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
                        {{else}}
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-white" href="/">Home</a></li>
                        {{/if}}

                        {{#if isProduct}}    
                        <li class="nav-item"><a class="myActive nav-link px-lg-3 py-3 py-lg-4 text-white" href="/products">Products</a></li>
                        {{else}} 
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-white" href="/products">Products</a></li>
                        {{/if}}
                        {{#if isAuth}}
                          {{#if isAdd}}
                            <li class="nav-item"><a class="myActive nav-link px-lg-3 py-3 py-lg-4 text-white" href="/add">Create</a></li>
                            {{else}}
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-white" href="/add">Create</a></li>
                          {{/if}}
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle text-white px-lg-3 py-3 py-lg-4" data-bs-toggle="dropdown">Profile</a>
                                <div class="dropdown-menu">
                                    <a href="/card" class="dropdown-item nav-link">My Basket</a>
                                    <a href="/orders" class="dropdown-item nav-link">My Orders</a>
                                    {{!-- <a href="#" class="dropdown-item">Sent Items</a> --}}
                                    <div class="dropdown-divider"></div>
                                    <a href="/auth/logout" class="dropdown-item nav-link">Log Out</a>
                                </div>
                            </li>
                        {{else}}
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-white" href="/auth/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-white" href="/auth/login">Log In</a></li>
                        {{/if}}
                         
                    </ul>
                </div>
            </div>
        </nav>