<!DOCTYPE html>
<html lang="en">
    {{!-- Head --}}
    {{> head}}
    <body>
        <!-- Navigation-->
            {{> navbar}}
            
        <div class="">
                    {{!--Carusel--}}
            {{> carusel}}
        {{!-- Body --}}
            {{{body}}}
        </div>
        <!-- Footer-->
            {{> footer}}
        
    </body>
</html>