::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to right bottom, #259aee, #819ef4);
 }
 ::-webkit-scrollbar{
    width: 6px;
    height: 0px;
 }
.myNavbar{
    background-color: #0D6EFD;
    border-radius: 0 0 3px 3px;
    position: sticky;
    top: 0;
    z-index: 99999999999;
}
.myLogo{
    filter: invert(1);
}
.nav-link{
    font-weight: 600 !important;
    font-size: 1rem !important;
    color: white;
}
.nav-item:hover{
    background-color: #0DCFFF;
}
.myActive{
    color: rgb(26, 255, 0) !important;
    /* transform: scale(1.3); */
}

.myAddForm{
    min-height: calc(100vh - 300px);
}
.productWrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1rem;
}
.myCover{
    object-fit: fill;
}
.price{
    font-size: 1rem;
    font-weight: 600;
}
.myprevious{
    color: blue !important;
    transform: scale(2);
}
.myCard{
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 9999;
}
.myCard svg{
    width: 40px;
    height: 40px;
    color:azure;
}
.myCard .icon{
    /* background-color: #0DCFFF; */
    border-radius:50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: icon 2s ease-in-out infinite;
}
.myMarketing{
    box-sizing: border-box;
}
.myLogin{
    min-height: calc(100vh - 250px);
    margin-top: 90px;
}
.myRegister{
    border: none;
}

@media (max-width: 766px) {
        .deatilImage{
            width: 100%;
        }
        .myCard{
            right: 7px;
            bottom: 17px;
        }
        .myCard .icon{
            width: 50px;
            height: 50px;
        }
        .myCard svg{
            width: 30px;
            height: 30px;
            color:azure;
        }
        .myLogin{
            margin-top: 30px;
        }
}

@keyframes icon {
    50%{
        color:rgb(26, 255, 0);
        border: 1px solid blue !important;
    }
    100%{
        color: blue;
        border: 1px solid blue;
    }
}